.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.video-wrapper {
  position: relative;
}

.video-element {
  width: 100%;
  max-width: 480px;
  aspect-ratio: 9 / 16;
  height: calc((9/16) * 100% / 1.6);
  background-color: #000;
  border: none;
}

.blink-border {
  border: 5px solid red;
  animation: blink-border 0.5s step-end infinite alternate;
}

.time-counter {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  color: #FFF;
  font-size: 24px;
  z-index: 10;
}

.teleprompter-container {
  position: absolute;
  top: 50px;
  width: 90%;
  left: 5%;
  text-align: center;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  height: 6em;
  overflow: hidden;
  line-height: 1.5em;
  z-index: 10;
}

.teleprompter-text {
  transition: transform 0.1s linear;
}

.time-limit-warning {
  position: absolute;
  top: 130px;
  width: 100%;
  text-align: center;
  color: red;
  font-size: 18px;
  z-index: 10;
}

@keyframes blink-border {
  0% { border-color: red; }
  50% { border-color: white; }
  100% { border-color: red; }
}
